<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/styles/styles.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&family=Special+Elite&display=swap"
			rel="stylesheet"
		/>
		<title>Books Bunny</title>
	</head>
	<body>
		<main class="main-content">
			<div class="strip">
				<nav
					class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
				>
					<div class="container-fluid">
						<!-- Logo and Title -->
						<a class="navbar-brand d-flex align-items-center" href="#">
							<img
								src="images/Bunny_Background_Blog.png"
								class="bi me-2 logo"
							/>
							<h1 class="m-0 special-elite-regular fs-4 fontFlex-h1">
								Books Bunny
								<span class="simonetta-regular">
									<%if(locals.userName !== null){%> : Hi <%=locals.userName%> !
									<%}%>
								</span>
							</h1>
						</a>

						<!-- Toggler Button -->
						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarBunny"
						>
							<span class="navbar-toggler-icon"></span>
						</button>

						<!-- Collapsible Content -->
						<div class="collapse navbar-collapse" id="navbarBunny">
							<div class="ms-auto d-flex align-items-center gap-3 flex-wrap">
								<!-- Form Buttons -->
								<form
									class="d-flex flex-wrap gap-2 me-3"
									action="/tab"
									method="post"
								>
									<input
										type="submit"
										name="tab"
										value="Show Library"
										id="goLibrary"
										class="btn fontFlex"
									/>
									<input type="submit" name="tab" value="New Book" id="newBook"
									class="btn fontFlex" <%= locals.userName !== null ? '' :
									'disabled' %> />
								</form>
								|
								<!-- Login and Icon -->
								<a type="button" class="btn" href="/user">Login</a>
								<img src="images/Bunny_Background_Blog.png" class="userIcon" />
							</div>
						</div>
					</div>
				</nav>
			</div>

