html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: #443627;
	background-color: #faeed1;
}

header {
	display: flex;
	justify-content: space-between;
}

.fontFlex-h1 {
	margin: 0;
	font-size: clamp(1.5rem, 4vw, 5rem);
	white-space: nowrap;
	overflow: hidden;
}

.navbar {
	padding: 0;
}

.container-fluid {
	background-color: #faeed1;
	border-bottom: #a27b5c;
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

.searchBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

#searchForm {
	text-align: center;
}

.searchInput {
	flex: 1 1 auto;
	flex-basis: auto;
}

.searchButton {
	flex: 0 0 auto;
	white-space: nowrap;
	flex-basis: 100px;
}

.searchLabel {
	flex: 0 0 auto;
	white-space: nowrap;
	flex-basis: auto;
	margin-left: 20px;
}

.searchResult {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding-left: 40px;
	margin-bottom: 5px;
	border-width: 1px;
	border-radius: 10px;
	border-style: ridge;
	border-color: #443627;
}

.bookResult {
	flex-basis: auto;
	flex: 1 1 auto;
	background-color: #faeed1;
	border-style: none;
}

.coverResult {
	display: flex;
	white-space: nowrap;
	height: 70px;
	text-align: center;
	min-width: 60px;
	align-items: center;
}

.userPage {
	margin-top: 20px;
	text-align: center;
}

.userFlex {
	display: flex;
	gap: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	flex-direction: row;
}

#userSelect {
	padding: 10px !important;
}

.userSelect {
	width: 40%;
	display: block;
	text-align: center;
}

.bi {
	color: #443627;
}

.boxBorder {
	border-style: solid;
	border-width: 2px;
	border-color: #a27b5c;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-signin {
	max-width: 330px;
	padding: 1rem;
}

.strip {
	background-color: #dac0a3;
}

.userBox {
	background-color: #a27b5c;
	margin-top: 10px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	font-size: 1rem;
	height: 80px;
}

.tab-view {
	margin-top: 10px;
}

form.tab-view .btn {
	flex: 1 1 auto; /* Allow them to shrink and grow */
	min-width: 120px; /* Prevent them from becoming sad crumbs */
	white-space: nowrap; /* Keep text on one line */
}

.card {
	border-radius: 30px;
	border-color: #443627;
	border-style: solid;
	overflow: hidden;
}

.card-body {
	background-color: #f8f0e5;
}

/* .searchArea {
	margin: 0;
	background-color: #dac0a3;
} */

.main-content {
	flex: 1; /* Pushes the footer down */
}

.img-fluid {
	max-width: 80%;
}

.logo {
	border-radius: 50%;
	height: 20vh;
	max-height: 90px;
	border-color: #a27b5c;
	border-style: solid;
	border-width: 2px;
}



.userIcon {
	border-radius: 50%;
	height: 50px;
	max-height: 90px;
}

.btn {
	background-color: #a27b5c;
	color: white;
	border: none;
}

.fontFlex {
	font-size: clamp(0.8rem, 1vw, 1rem);
}

.btn:hover {
	background-color: #6f4e37;
	color: white;
	border: none;
}

#btnDelete:hover {
	background-color: red;
}

#btnSubmit:hover {
	background-color: green;
}

#btnCancel:hover {
	background-color: yellow;
	color: black;
}

.special-elite-regular {
	font-family: "Special Elite", serif;
	font-weight: 600;
	font-style: normal;
}

.simonetta-regular {
	font-family: "Simonetta", serif;
	font-weight: 400;
	font-style: normal;
}

.simonetta-black {
	font-family: "Simonetta", serif;
	font-weight: 900;
	font-style: normal;
}

.simonetta-regular-italic {
	font-family: "Simonetta", serif;
	font-weight: 400;
	font-style: italic;
}

.simonetta-black-italic {
	font-family: "Simonetta", serif;
	font-weight: 900;
	font-style: italic;
}

@media (max-width: 1400px) {
	.userFlex {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.userSelect {
		width: 80%;
	}
}
